<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>inter</h1>
        <h1>I completed my intermediate in the year of 2017</h1>
        <a href="{% url 'app1:degree' %}">go to degree</a><br>
        <a href="{% url 'app1:mca' %}">go to mca</a><br>
        <a href="{% url 'app2:ssc' %}">go to ssc</a>
    </center>
</body>
</html>