<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>MCA</h1>
        <h1>I completed my MCA computers in the year of 2022</h1>
        <a href="{% url 'app1:degree' %}">go to degree</a><br>
        <a href="{% url 'app2:ssc' %}">go to ssc</a><br>
        <a href="{% url 'app2:inter' %}">go to inter</a>
    </center>
</body>
</html>